<%= form_with(model: website, local: true) do |form| %>
  <% if website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
      <% website.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :business_name %>
    <%= form.text_field :business_name %>
  </div>

  <div class="field">
    <%= form.label :has_current_website %>
    <%= form.check_box :has_current_website %>
  </div>

  <div class="field">
    <%= form.label :current_website_link %>
    <%= form.text_field :current_website_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
