<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @website.user %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @website.business_name %>
</p>

<p>
  <strong>Has current website:</strong>
  <%= @website.has_current_website %>
</p>

<p>
  <strong>Current website link:</strong>
  <%= @website.current_website_link %>
</p>

<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>
