<header class="box-header">
  <h2 class="h4 title">Resend confirmation instructions</h2>
  <h3 class="h6 subtitle">Problems getting the confirmation email? Try sending it again by entering your emails address below.</h3>
</header>
<div class="box-body">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f| %>
    <%= devise_error_messages! %>
    

    <div class="form-group">
      <div class="col-6 col-sm-12">
        <%= f.label :email, 'What\'s your Email Address?', class: 'form-label' %>
      </div>
      <div class="col-6 col-sm-12">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-input' %>
      </div>
    </div>

 
    <div class="actions">
      <%= f.submit "Resend Confirmation Instructions", class: 'btn btn-primary is-centered text-center my-8' %>
    </div>
  <% end %>
</div>
<footer class="box-footer column text-centered col-12 ">
  <%= render "devise/shared/links" %>
</footer>