<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @business_detail.user %>
</p>

<p>
  <strong>Business address:</strong>
  <%= @business_detail.business_address %>
</p>

<p>
  <strong>Mailing address:</strong>
  <%= @business_detail.mailing_address %>
</p>

<p>
  <strong>Physical or mailing:</strong>
  <%= @business_detail.physical_or_mailing %>
</p>

<p>
  <strong>Other address info:</strong>
  <%= @business_detail.other_address_info %>
</p>

<p>
  <strong>Business phone:</strong>
  <%= @business_detail.business_phone %>
</p>

<p>
  <strong>Business phone2:</strong>
  <%= @business_detail.business_phone2 %>
</p>

<p>
  <strong>Business phone3:</strong>
  <%= @business_detail.business_phone3 %>
</p>

<p>
  <strong>Business fax:</strong>
  <%= @business_detail.business_fax %>
</p>

<p>
  <strong>Business phone info:</strong>
  <%= @business_detail.business_phone_info %>
</p>

<p>
  <strong>Business email address:</strong>
  <%= @business_detail.business_email_address %>
</p>

<p>
  <strong>Business email address2:</strong>
  <%= @business_detail.business_email_address2 %>
</p>

