<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Data Type</th>
      <th>Submitted Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Business address:</td>
      <td><%= @business_detail.business_address %></td>
    </tr>

    <tr>
      <td>Mailing address:</td>
      <td><%= @business_detail.mailing_address %></td>
    </tr>
    <tr>
      <td>City:</td>
      <td><%= @business_detail.city%></td>
    </tr>
    <tr>
      <td>Province/State</td>
      <td><%= @business_detail.region %></td>
    </tr>
    <tr>
      <td>Postal Code</td>
      <td><%= @business_detail.postal_code %></td>
    </tr>

    <tr>
      <td>Other address info:</td>
      <td><%= @business_detail.other_address_info %></td>
    </tr>

    <tr>
      <td>Business phone:</td>
      <td><%= @business_detail.business_phone %></td>
    </tr>

    <tr>
      <td>Business phone2:</td>
      <td><%= @business_detail.business_phone2 %></td>
    </tr>

    <tr>
      <td>Business phone3:</td>
      <td><%= @business_detail.business_phone3 %></td>
    </tr>

    <tr>
      <td>Business fax:</td>
      <td><%= @business_detail.business_fax %></td>
    </tr>

    <tr>
      <td>Business phone info:</td>
      <td><%= @business_detail.business_phone_info %></td>
    </tr>

    <tr>
      <td>Business email address:</td>
      <td><%= @business_detail.business_email_address %></td>
    </tr>

    <tr>
      <td>Business email address2:</td>
      <td><%= @business_detail.business_email_address2 %></td>
    </tr>
  </tbody>
</table>


