<p id="notice"><%= notice %></p>


<p>
  <strong>Services:</strong>
  <%= @services_content.services %>
</p>

<p>
  <strong>Pricing:</strong>
  <%= @services_content.pricing %>
</p>

<p>
  <strong>Other info:</strong>
  <%= @services_content.other_info %>
</p>

<%= link_to 'Edit', edit_services_content_path(@services_content) %> 
