<header class="box-header">
  <h2 class="h4 title">Change Your Password</h2>
  <h3 class="h6 subtitle">Just enter your new password and we'll update it for you.</h3>
</header>

<div class="box-body">
  <%=  form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <div class="col-6 col-sm-12">
        <%= f.label :password, 'Set your new password:', class: 'form-label' %> 
      </div>
      <div class="col-6 col-sm-12">
          <%= f.password_field  :password, autocomplete: "new-password", class: 'form-input' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-6 col-sm-12">
        <%= f.label :password_confirmation, 'Confirm your new password:', class: 'form-label' %>
      </div>
      <div class="col-6 col-sm-12">
          <%= f.password_field  :password_confirmation, autocomplete: "off", class: 'form-input' %>
      </div>
    </div>

 
    <div class="actions">
      <%= f.submit "Change my Password", class: 'btn btn-primary is-centered text-center my-8' %>
    </div>
  <% end %>
</div>
<footer class="box-footer column text-center col-12 ">
  <%= render "devise/shared/links" %>
</footer>