<div class="column col-12">
  <%= form_with(model: extra_page, local: true) do |form| %>
    <% if extra_page.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(extra_page.errors.count, "error") %> prohibited this extra_page from being saved:</h2>

        <ul>
        <% extra_page.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div data-controller="extra-pages" class="mb-10">
      <div class="form-group">
        <%= form.label :extra_pages, class: 'form-label'   do %>
          How many Extra Pages?
          <div class="popover popover-bottom">
            <i class="icon icon-message"></i>
            <div class="popover-container">
              <div class="card">
                <div class="card-body">
                  Need more than the three pages included in the original price? No worries. Just choose from the dropdown and choose however many you need. Extra pages cost $150/page extra. If you need more than 6, get in touch, because it will be cheaper for you to go with the "Bottle'd IPA" site.
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%#= form.select(:extra_pages, options_for_select([['1 Extra Page', 1],['2 Extra Pages', 2],['3 Extra Pages', 3],['4 Extra Pages', 4],['5 Extra Pages', 5],['6 Extra Page', 6]]), {class: "form-select", data: {"target": "extra-pages.selector"}, prompt: 'Select One'}) %>
        <%= form.select(:extra_pages, [['Don\'t Require Any',0],['One Extra Page', 1],['Two Extra Pages', 2],['Three Extra Pages', 3],['Four Extra Pages', 4],['Five Extra Pages', 5],['Six Extra Pages', 6]], {}, { class: "form-select", data: {"target": "extra-pages.selector", "action": "extra-pages#updateShowingFields"} }) %>
      </div>

      <div class="form-group d-hide" data-target="extra-pages.textarea">
        <%= form.label :extra_page1, class: 'form-label'  do %>
          First Extra Page
          <div class="popover popover-bottom">
            <i class="icon icon-message"></i>
            <div class="popover-container">
              <div class="card">
                <div class="card-body">
                  Need an extra page? No Worries! Just write in below what sort of page you want, as well as the written content you want on it (for example, if you want a FAQ page, write out the questions and the answers you want on the page.)
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= form.hidden_field :extra_page1, class: 'form-input' %>
        <trix-editor input="extra_page_extra_page1"  ></trix-editor>
      </div>
      <div class="form-group d-hide" data-target="extra-pages.textarea">
        <%= form.label :extra_page2, class: 'form-label'  do %>
          Second Extra Page
          <div class="popover popover-bottom">
            <i class="icon icon-message"></i>
            <div class="popover-container">
              <div class="card">
                <div class="card-body">
                  Need an extra page? No Worries! Just write in below what sort of page you want, as well as the written content you want on it (for example, if you want a FAQ page, write out the questions and the answers you want on the page.)
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= form.hidden_field :extra_page2, class: 'form-input' %>
        <trix-editor input="extra_page_extra_page2"  ></trix-editor>
      </div>
      <div class="form-group d-hide" data-target="extra-pages.textarea">
        <%= form.label :extra_page3, class: 'form-label'  do %>
          Third Extra Page
          <div class="popover popover-bottom">
            <i class="icon icon-message"></i>
            <div class="popover-container">
              <div class="card">
                <div class="card-body">
                  Need an extra page? No Worries! Just write in below what sort of page you want, as well as the written content you want on it (for example, if you want a FAQ page, write out the questions and the answers you want on the page.)
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= form.hidden_field :extra_page3, class: 'form-input' %>
        <trix-editor input="extra_page_extra_page3"  ></trix-editor>
      </div>
      <div class="form-group d-hide" data-target="extra-pages.textarea">
        <%= form.label :extra_page4, class: 'form-label'  do %>
          Fourth Extra Page
          <div class="popover popover-bottom">
            <i class="icon icon-message"></i>
            <div class="popover-container">
              <div class="card">
                <div class="card-body">
                  Need an extra page? No Worries! Just write in below what sort of page you want, as well as the written content you want on it (for example, if you want a FAQ page, write out the questions and the answers you want on the page.)
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= form.hidden_field :extra_page4, class: 'form-input' %>
        <trix-editor input="extra_page_extra_page4"  ></trix-editor>
      </div>
      <div class="form-group d-hide" data-target="extra-pages.textarea">
        <%= form.label :extra_page5, class: 'form-label'  do %>
          Fifth Extra Page
          <div class="popover popover-bottom">
            <i class="icon icon-message"></i>
            <div class="popover-container">
              <div class="card">
                <div class="card-body">
                  Need an extra page? No Worries! Just write in below what sort of page you want, as well as the written content you want on it (for example, if you want a FAQ page, write out the questions and the answers you want on the page.)
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= form.hidden_field :extra_page5, class: 'form-input' %>
        <trix-editor input="extra_page_extra_page5"  ></trix-editor>
      </div>
      <div class="form-group d-hide" data-target="extra-pages.textarea">
        <%= form.label :extra_page6, class: 'form-label'  do %>
          Sixth Extra Page
          <div class="popover popover-bottom">
            <i class="icon icon-message"></i>
            <div class="popover-container">
              <div class="card">
                <div class="card-body">
                  Need an extra page? No Worries! Just write in below what sort of page you want, as well as the written content you want on it (for example, if you want a FAQ page, write out the questions and the answers you want on the page.)
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= form.hidden_field :extra_page6, class: 'form-input' %>
        <trix-editor input="extra_page_extra_page6"  ></trix-editor>
      </div>

    </div>    

    <div class="divider my-10"></div>


    <div class="form-group columns">
      <div class="col-5 col-sm-11">
        <p class="title">Extra Pages Complete Or Don't need any..</p> 
      </div>
      <div class="col-1">
        <div class="popover popover-down">
          <i class="icon icon-message"></i>
          <div class="popover-container">
            <div class="card">
              <div class="card-body">
                Hit this switch after you've added any extra pages you need. Don't need any? Hit it to mark this as complete.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-12 text-centered">
        <label class="form-switch input-lg">
          <%= form.check_box :is_complete, class: 'input-lg' %>
          <i class="form-icon input-lg"></i>
        </label>
      </div>
    </div>

    <div class="form-group actions col-12">
      <%= form.submit 'Save All Extra Pages', class: 'btn btn-primary form-inline input-group-btn is-full-width' %>
    </div>
  <% end %>
</div>



