<% unless @extra_page.extra_page1.blank? %>  
  <div class="box no-shaddow column col-12 my-2">
    <div class="box-header text-bold">
      First Extra Page
    </div>
    <div class="box-body">
      <%= sanitize @extra_page.extra_page1 %>
    </div>
  </div>
<% end %>

<% unless @extra_page.extra_page2.blank? %>  
  <div class="box no-shaddow column col-12 my-2">
    <div class="box-header text-bold">
      Second Extra Page
    </div>
    <div class="box-body">
      <%= sanitize @extra_page.extra_page2 %>
    </div>
  </div>
<% end %>

<% unless @extra_page.extra_page3.blank? %>  
  <div class="box no-shaddow column col-12 my-2">
    <div class="box-header text-bold">
      Third Extra Page
    </div>
    <div class="box-body">
      <%= sanitize @extra_page.extra_page3 %>
    </div>
  </div>
<% end %>

<% unless @extra_page.extra_page4.blank? %>  
  <div class="box no-shaddow column col-12 my-2">
    <div class="box-header text-bold">
      Fourth Extra Page
    </div>
    <div class="box-body">
      <%= sanitize @extra_page.extra_page4 %>
    </div>
  </div>
<% end %>

<% unless @extra_page.extra_page5.blank? %>  
  <div class="box no-shaddow column col-12 my-2">
    <div class="box-header text-bold">
      Fifth Extra Page
    </div>
    <div class="box-body">
      <%= sanitize @extra_page.extra_page5 %>
    </div>
  </div>
<% end %>

<% unless @extra_page.extra_page6.blank? %>  
  <div class="box no-shaddow column col-12 my-2">
    <div class="box-header text-bold">
      Sixth Extra Page
    </div>
    <div class="box-body">
      <%= sanitize @extra_page.extra_page6 %>
    </div>
  </div>
<% end %>





