<div class="container">
  <div class="columns">
    <div class="column col-sm-12 show-sm center">
      <div class="footer-brand">
          <%= image_tag 'nobull_logo_white.svg', class: 'img-responsive', alt: ''%>
      </div>
      <p class="text-center  mx-10 mt-4">
        NoBull Software Co. is a small, family-owned web development company based in both
        Salmon Arm, BC and Calgary, AB - both of which are in the beautiful country of Canada. 🇨🇦
      </p>
      <p class="text-center  mx-10">
        All prices listed on this site are in $CAD.
      </p>
      <p class="text-center mx-10">Thanks for dropping by! 😊</p>
    </div>
    
    <div class="column col-4 col-sm-12 left">
     <ul class="nav footer-nav">
       <li class="nav-item">
        <%= link_to 'Home', root_path %>
       </li>
       <li class="nav-item">
        <%= link_to 'Our Story', pages_about_path %>
       </li>
       <li class="nav-item">
        <%= link_to 'Contact Us', pages_contact_path %>
       </li>
       <li class="nav-item">
        <%= link_to 'Services & Pricing', pages_pricing_path %>
       </li>
        <li class="nav-item">
          <%= link_to 'Login', new_user_session_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Request New Site', new_user_registration_path %>
        </li>
        <li class="nav-item">
          <%= link_to 'Free Beer', pages_free_beer_path %>
        </li>
     </ul>
    </div>
    <div class="column col-4 col-sm-12 hide-sm center">
      <%= link_to root_path do %>
        <div class="footer-brand">
          <%= image_tag 'nobull_logo_white.svg', class: 'img-responsive', alt: ''%>
        </div>
      <% end %>
      <p class="text-center  mx-10 mt-4">
        NoBull Software Co. is a small, family-owned web development company based in both
        Salmon Arm, BC and Calgary, AB - both of which are in the beautiful country of Canada. 🇨🇦
      </p>
      <p class="text-center  mx-10">
        All prices listed on this site are in $CAD. 
      </p>
      <p class="text-center mx-10">Thanks for dropping by! 😊</p>
    </div>
    <div class="column col-4 col-sm-12 right">
      <div class="social-nav">
        <%= link_to 'https://twitter.com/richjdsmith', class: 'social-link' do %>
          <span class="social-text">Twitter</span> 
          <%= image_tag 'twitter_logo.svg', class: ' social-icon' %>
        <% end %>
        <%= link_to 'https://facebook.com/richjdsmith', class: 'social-link' do %>
          <span class="social-text">Facebook</span> 
          <%= image_tag 'fb_logo.svg', class: ' social-icon' %>
        <% end %>
        <%= link_to 'https://linkedin.com/company/nobullco', class: 'social-link' do %>
          <span class="social-text">LinkedIn</span> 
          <%= image_tag 'li_logo.svg', class: ' social-icon' %>
        <% end %>
        <%= link_to 'mailto:contact@nobullco.com', class: 'social-link' do %>
          <span class="social-text">Email</span> 
          <%= image_tag 'email_logo.svg', class: ' social-icon' %>
        <% end %>
        <%= link_to 'tel:587-317-5922', class: 'social-link' do %>
          <span class="social-text" id="after-span-phone">AB: +1-587-317-5922</span> 
          <%= image_tag 'phone_logo.svg', class: ' social-icon' %>
        <% end %>
        <%= link_to 'tel:250-833-6512', class: 'social-link' do %>
          <span class="social-text" id="after-span-phone">BC: +1-250-833-6521</span> 
          <%= image_tag 'phone_logo.svg', class: ' social-icon' %>
        <% end %>
      </div>
    </div>
    
  </div>
  <span class="text-center is-centered" id="footer-copyright">Copyright <%= "#{Time.now.year}" %> - NoBull Software Co. </span>
  <span class="text-center is-centered" id="footer-copyright"> <%= I18n.t :you_are_in %></span>
  <span class="text-center is-centered" id="footer-copyright"> dc: <%= @detected %></span>

</div>


