<%= link_to pages_pricing_path, class: 'back' do %>
  <span class="text-primary text-bold hide-sm">Back to Pricing</span>
  <i class="icon icon-3x icon-cross text-primary"></i>
<% end %>
<section id="description">
  <div class="container">
    <div class="columns">
      <div class="column col-8 col-sm-12 col-mx-auto">
        <div class="box">
          <div class="box-header columns">
            <div class="column col-8 col-md-12">
              <h1 class=" title">A Basic Website</h1>
              <h2 class="subtitle">
                Everything most businesses actually need.
              </h2>
            </div>
            <div class="column col-4 col-md-12 actual-price">
              <h2 class="title">$790</h2>
              <h4 class=" subtitle h4">$829.5 <br> incl. GST</h4>
            </div>
          </div>
          <div class="box-body">
            <p>Our <span class="is-underline">Basic Website</span> is a great example of all you really need to start getting new customers via the internet.</p>
            <p>
              Trying to show up on search engines when people search "{your industry} in {your town}" 
              without a basic website (no - a Facebook page won't work 😟) is darn-near impossible. 
              You can have the best Facebook Page in the world with a thousand likes, and dozens of reviews on Google maps,
               but without a simple website,<strong> you're missing out.</strong>
            </p>
            <h4 class=" h5 text-alt text-bold mx-10 text-center">It's this gap that the <span class="is-underline">Basic Website</span> is meant to fill.</h4>
            <p>It's not a fancy website - it really can't do much. But it's built specifically to rank well and show up on Google/Bing/Yahoo, and we think that's better than good enough. Here's what it includes:</p>
            
          </div>
        </div>
        <div class="included mt-10">
          <h5 class=" h5 text-light text-bold ">What's included in a <strong>Basic Website:</strong></h5>
          <div class="box my-4">
            <div class="box-header">
              <h5 class="h5 text-center">A Beautiful, Custom-Built Website</h5>
            </div>
            <div class="box-body">
              <p>
                All NoBull websites are custom coded, from scratch - we don't buy and modify templates.
                We use best practices from code optimization to image compression - all to make make sure your business ranks well on search engines and starts seeing new customers from your new marketing channel as soon as possible.
              </p>
              <p>Just because we call it a <strong>Basic Website</strong> doesn't mean we compromise our standards. Your new website will be just as custom and unique as the next one we build - see what we did there? 😉❄️.</p>
              
            </div>
          </div>
          <div class="box my-4">
            <div class="box-header">
              <h5 class="h5 text-center">Integrations</h5>
            </div>
            <div class="box-body">
              <p>
                All NoBull websites include what we call <strong>Cross Web Integrations</strong> or simply, Integrations. They're our secret sauce to getting your website higher up on Google than your competitors. What it is essentially is us signalling to Google and the rest of the search engines that your business is alive and healthy. 
                We do this in two ways.
              </p> 
              <p>
                First, by adding lots of meta-data (code that only search engines see) that points the search engines at any associated website addresses - things such as your Facebook Page, or your Google Business (Google Maps) Page, or even a Twitter page. 
                This lets them know that your business is active around the web, and therefore probably more important than that other business (Your competitors here? 😝) that isn't as active. The search engine then looks at these two sites, and ranks them, partially taking into account the fact that yours seems more active around the web.
              </p>
              <p>
                Second, by making sure your data is the same all across the internet. Search engines (and computers for that matter) love consistency. Small things like having your phone number listed on Facebook as <em>+1-250-833-0000</em> and on Google Business as <em>2508330000</em> upsets them. 
                While a human can easily tell they're the same number, it's harder for a computer. 
                Because of this, search engines reward businesses that have the same, consistent data everywhere.
                Part of our "Integrations" is going around to all your different profiles and making sure they have <strong>identical</strong> contact and business info. It's slow, and it's a pain, but it is really helpful for getting our clients websites ahead of their next competitor!
              </p>
              
            </div>
          </div>
          <div class="box my-4">
            <div class="box-header">
              <h5 class="h5 text-center">Three Pages</h5>
            </div>
            <div class="box-body">
              <p>A basic site comes with three pages. Usually a Homepage with info about the business, A Pricing/Services page with all the services (and pricing, if you want) your business offers, and a Contact page with different ways to get in touch (social media, mail, phone etc.), an email contact form and an embedded Google Map with directions to your business. </p>
              <p>If you want or need more (FAQ page, Our History etc.), you can buy them as Add-ons for $150/page.</p>
            </div>
          </div>
          <div class="box my-4">
            <div class="box-header">
              <h5 class="h5 text-center">One Major Refactor</h5>
            </div>
            <div class="box-body">
              <p>What this means is you'll give us all the details about your business, we'll get in touch and chat about what 'feel' you want
                - perhaps get a couple example websites that you like from you. Then, we'll take that info and go built a website using our best creative skills.</p> 
              <p>
                While we'll show you what we're up to and take input while we're building it, once it's built you'll have <strong>one</strong> opportunity to send us (in a single email) 
                any major changes you want made. We'll go do those changes and send back the completed site. After that, we can do a couple tiny changes (spelling, some slight color changes etc.) 
                once you've seen the completed site, but if you want any more major changes, we'll have to start doing them on additional hourly billed time. 
              </p> 
              <p>
                  While we'd love to keep going back and forth, we need to eat as well and just cant spend 100 hours on a $800 website. Doing it this way lets us charge you less for a basic site!
              </p>
            </div>
          </div>
          
        </div>
        <div class="buy-one mt-10">
          <h5 class=" h5 text-light text-bold ">A great example of a Basic Website:</h5>
          <div class="box my-4">
            <div class="box-header">
              <h5 class="h5 text-center"><%= link_to 'Chum Lake Gravel', 'https://chumlake.com' %> </h5>
            </div>
            <div class="box-body">
              <p>
                This is a great example of a <strong> Basic Website</strong> and gives you an idea on what you can expect. 
                While they did end up paying for six extra pages so each of their products could have it's own page, it's still a great example of a
                beautiful, functional and yet simple website. 
              </p>
              <%= image_tag 'past_work/chumlake', class: 'img-responsive' %>
              
            </div>
          </div>
          
          
        </div>
        <div class="Example mt-10 pb-10">
          <h5 class=" h5 text-light text-bold ">Ready to Buy?</h5>
          <div class="container box py-10">
            <div class="columns">
              <div class="column col-12">
                <h2 class="h4  text-center"> You're at the end, but you have options.</h2>
                <p class="">
                  You can keep reading about what we offer, get in touch with us, or you can start the process of getting your own website from us!
                </p>
                <div class="btn-group btn-group-block">
                  <%= link_to '⏪ Go Back', :back, class: 'btn btn-lg' %>
                  <%= link_to 'Buy Now', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
                  <%= link_to 'Read About Fancy Website ⏩', pages_fancy_path, class: 'btn btn-lg' %>
                </div>
                <h6 class="h6  text-center my-6">- OR - </h6>
                <h4 class=" h6  text-center text-capitalize">Speak to a real human:</h4>
              </div>
              <div class="column col-8 col-md-10 col-sm-12 col-mx-auto">
                <div class="box">
                  <div class="box-body">
                    <h5 class="h5 is-flex-centered">Email Us:</h5>
                    <div class="input-group is-flex-centered hide-sm" data-controller="clipboard" >
                      <a href="mailto:rich@nobullco.com" class="btn btn-primary input-group-btn">Email Now</a>
                      <input class="form-input text-center" data-target="clipboard.source" type="text" value="contact@nobullco.com" readonly>
                      <button class="btn input-group-btn" data-action="clipboard#copy">Copy To Clipboard</button>
                    </div>
                    <div class="form-group is-flex-centered show-sm" data-controller="clipboard" >
                      <input class="form-input text-center" data-target="clipboard.source" type="text" value="contact@nobullco.com" readonly>
                      <div class="input-group is-flex-centered mt-1">
                      <a href="mailto:rich@nobullco.com" class="btn btn-primary input-group-btn">Email Now</a>
                      <button class="btn input-group-btn" data-action="clipboard#copy">Copy To Clipboard</button>
                      </div>
                    </div>
                    <h6 class="h6 text-center my-4">- Or -</h6>
                    <h5 class="h5 is-flex-centered">Give us a Call:</h5>
                    <div class="input-group is-flex-centered hide-sm" data-controller="clipboard" >
                      <a href="tel:2508336512" class="btn btn-primary input-group-btn">Call Now</a>
                      <input  class="form-input text-center" data-target="clipboard.source" type="text" value="+1-250-833-6512" readonly>
                      <button class="btn input-group-btn" data-action="clipboard#copy">Copy to Clipboard</button>
                    </div>
                    <div class="form-group is-flex-centered show-sm" data-controller="clipboard" >
                      <input class="form-input text-center" data-target="clipboard.source" type="text" value="+1-250-833-6512" readonly>
                      <div class="input-group is-flex-centered mt-1">
                      <a href="tel:2508336512" class="btn btn-primary input-group-btn">Call Now</a>
                      <button class="btn input-group-btn" data-action="clipboard#copy">Copy To Clipboard</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>