<%= link_to pages_pricing_path, class: 'back' do %>
  <span class="text-primary text-bold hide-sm">Back to Pricing</span>
  <i class="icon icon-3x icon-cross text-primary"></i>
<% end %>
<section id="description">
  <div class="container">
    <div class="columns">
      <div class="column col-8 col-sm-12 col-mx-auto">
        <div class="box">
          <div class="box-header columns">
            <div class="column col-8 col-md-12">
              <h1 class=" title">A Fancy Website</h1>
              <h2 class="subtitle">
                Better suited for the growing business.
              </h2>
            </div>
            <div class="column col-4 col-md-12 actual-price">
              <h2 class="title">$2300</h2>
              <h4 class=" subtitle h4">$2415 <br> incl. GST</h4>
            </div>
          </div>
          <div class="box-body">
            <p>Our <span class="is-underline">Fancy Website</span> is a better option for more professional services businesses (engineering, finance, real estate etc.) where the site tends to need to be updated a bit more frequently. </p>
            <p>
              It may also be a better option for you if your business is really pushing to grow its online pressence and use the website as a major factor in your marketing/getting more customers strategy.
              
            </p>
            <h4 class=" h5 text-alt text-bold mx-10 text-center">It includes everything the <%= link_to 'Basic Website', pages_basic_path %> has, but it includes a <span class="is-underline">Content Management System</span>.</h4>
            <p>This means it has an area where you can log in, and actually make changes to the website yourself. It also gives you the ability to have a blog on your website. 
            Search engines tend to like websites with (regularly updated) blogs, so if you're really focusing on online marketing, this may be a better option for you than the Basic Website.</p>
            
          </div>
        </div>
        <div class="included mt-10">
          <h5 class=" h5 text-light text-bold ">What's included in a <strong>Fancy Website:</strong></h5>
          <div class="box my-4">
            <div class="box-header">
              <h5 class="h5 text-center">A Beautiful, Custom-Built Website with a CMS</h5>
            </div>
            <div class="box-body">
              <p>
                Just like a Basic Website, all of our <strong>Fancy Websites</strong> are custom coded from scratch.
                Again, we will use best coding practices from code optimization to image compression - all to make make sure your business has its best chance possible to rank well on search engines, getting you more sales.
              </p>
              
            </div>
          </div>
          <div class="box my-4">
            <div class="box-header">
              <h5 class="h5 text-center">A Content Management System</h5>
            </div>
            <div class="box-body">
              <p>
                Your Fancy Website will include a Content Magement System or CMS. It will mean you're able to make changes and updates to the website yourself. It also means you can add and remove actual web pages yourself as well. 
              </p>
              <p>
                Unlike 95% of web design agencies, we don't use WordPress as the CMS (unless for some reason you <em>really</em> want us to). We know how to use WordPress, and have done our fair share of projects with it in the past, but we just don't like it. You can read about <%= link_to 'why we don\'t use wordpress here.', pages_why_we_hand_code_path %> Instead we use a more stable, quicker and better customizable option built on something called Ruby on Rails. We find it makes things easier for clients. 
              </p>
              
            </div>
          </div>
          <div class="box my-4">
            <div class="box-header">
              <h5 class="h5 text-center">A Blog Engine</h5>
            </div>
            <div class="box-body">
              <p>
               CHOO CHOOO! ðŸš‚ You know what is also included in our Fancy Website? A Blogging engine. You know who loves a full-of-content and regularly-posted-to blog? <strong>Search Engines!</strong> 
               Your Fancy Website includes the ability for you to regularly post written content - or even photos for that matter - to your website. This makes the website look particularly active and 
               will increase the likelihood of Google or other search engines on putting your website closer to the top of the results. 
              </p>
              <p>
                The blog engine is baked into the CMS, so it is easy to use and makes publishing content easy. 
              </p>
              
            </div>
          </div>
          <div class="box my-4">
            <div class="box-header">
              <h5 class="h5 text-center">Six Pages</h5>
            </div>
            <div class="box-body">
              <p>A Fancy Website comes with up to six built in pages - or double the Basic Website. Usually it will include a Homepage, an About Us page, A Pricing/Services page with all the services (and pricing, if you want) your business offers, A Blog Homepage (a hompage for your blog!), a FAQ, and a Contact page with different ways to get in touch (social media, mail, phone etc.), an email contact form and an embedded Google Map with directions to your business. </p>
              <p>This just includes the pages we'll write for you. Because the Fancy Website has a <strong> Content Management System</strong> built in, you will have the ability to add pages yourself as well! If you want us to do more for you instead, you can always buy more pages as Add-ons for $150/page.</p>
            </div>
          </div>
          <div class="box my-4">
            <div class="box-header">
              <h5 class="h5 text-center">Two Major Refactor</h5>
            </div>
            <div class="box-body">
              <p>
                Instead of the One Major Refactor that comes with a Basic Website, 
                your Fancy Website includes a second window of opportunity to give major feedback where we'll go back and make substantial changes to the presented project.
              </p>
              <p>What this means is you'll give us all the details about your business, we'll get in touch and chat about what 'feel' you want
                - perhaps get a couple example websites that you like from you. Then, we'll take that info and go built a website using our best creative skills.</p> 
              <p>
                While we'll show you what we're up to and take input while we're building it, once it's built you'll have <strong>Two</strong> opportunities to send us (in a couple emails or phone calls) 
                any major changes you want made. We'll go do those changes and send back the completed site, get the second major change requests, update it then send it back again. After that, we can do a couple tiny changes (spelling, some slight color changes etc.) 
                once you've seen the completed site, but if you want any more major changes, we'll have to start doing them on additional hourly billed time. 
              </p> 
            </div>
          </div>
          
        </div>
        <div class="buy-one mt-10">
          <h5 class=" h5 text-light text-bold ">A great example of a Fancy Website:</h5>
          <div class="box my-4">
            <div class="box-header">
              <h5 class="h5 text-center"><%= link_to 'Mark Herman', 'https://markherman.ca' %> </h5>
            </div>
            <div class="box-body">
              <p>
                This is a great example of a <strong> Fancy Website</strong> and gives you an idea on what you can expect. 
                Mark wanted a place where he could post blog posts and position himself apart from the rest of Calgary's mortgage brokers. 
                We don't want to say it was a success, but in the last 6 months, Mark's site has gone from  from 48th average search rank position on Google ("Calgary mortgage broker") to 5.5 average position. ðŸ“ˆðŸ”¥
              </p>
              <%= image_tag 'past_work/markherman.jpg', class: 'img-responsive' %>
              
            </div>
          </div>
          
          
        </div>
        <div class="Example mt-10 pb-10">
          <h5 class=" h5 text-light text-bold ">Ready to Buy?</h5>
          <div class="container box py-10">
            <div class="columns">
              <div class="column col-12 mb-10">
                <h2 class="h4  text-center"> You're at the end, but you have options.</h2>
                <p class="">
                  You can keep reading about what we offer, get in touch with us, or you can start the process of getting your own website from us!
                </p>
                <div class="btn-group btn-group-block ">
                  <%= link_to 'âª Go Back', :back, class: 'btn btn-lg' %>
                  <%= link_to 'Buy Now', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
                  <%= link_to 'Read About Custom Webapps â©', pages_custom_path, class: 'btn btn-lg' %>
                </div>
                
              </div>
              <div class="column col-8 col-mx-auto mt-10">
                <h6 class="h5 text-primary text-center ">Or you can speak with a person: </h6>
              </div>
              <div class="column col-8 col-md-10 col-sm-12 col-mx-auto ">
                <div class="box">
                  <div class="box-body">
                    <h5 class="h5 is-flex-centered">Email Us:</h5>
                    <div class="input-group is-flex-centered hide-sm" data-controller="clipboard" >
                      <a href="mailto:rich@nobullco.com" class="btn btn-primary input-group-btn">Email Now</a>
                      <input class="form-input text-center" data-target="clipboard.source" type="text" value="contact@nobullco.com" readonly>
                      <button class="btn input-group-btn" data-action="clipboard#copy">Copy To Clipboard</button>
                    </div>
                    <div class="form-group is-flex-centered show-sm" data-controller="clipboard" >
                      <input class="form-input text-center" data-target="clipboard.source" type="text" value="contact@nobullco.com" readonly>
                      <div class="input-group is-flex-centered mt-1">
                      <a href="mailto:rich@nobullco.com" class="btn btn-primary input-group-btn">Email Now</a>
                      <button class="btn input-group-btn" data-action="clipboard#copy">Copy To Clipboard</button>
                      </div>
                    </div>
                    <h6 class="h6 text-center my-4">- Or -</h6>
                    <h5 class="h5 is-flex-centered">See the other ways you can get in touch:</h5>
                    <div class="is-flex-centered" >
                      <%= link_to 'Contact Us Page', pages_contact_path, class: 'btn btn-alt' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>