<section id="hero">
  <div class="container pl-10">
    <h1 class="h1 text-light">Our pricing is simple. By Design.</h1>
    <h2 class="h2 subtitle text-light">Three options, a couple of add-ons and that's it. Simple.</h2>
  </div>
</section>
<section id="pricing">
  <div class="container">
    <div class="columns">
      <div class="column col-8 col-lg-10 col-md-12 col-mx-auto">
        <div class="columns is-stretch">
          <div class="column col-4 col-md-6 col-sm-12 col-mx-auto mb-4">
            <div class="box">
              <div class="box-header">
                <h4 class="title h4 text-center">
                  A Website. 
                </h4>
                <p class="subtitle text-center">
                  A basic website and that's it - which we think is a good thing. It's a well-built and affordable website to get you showing up in Google.
                </p>
                <p class="subtitle text-center">
                  It's the best option for most businesses and probably all you need.
                </p>
                <h5 class="h4 text-center price">
                  $790 <br><span class="gst">(+GST)</span>
                </h5>
              </div>
              <div class="box-body">
                
                
              </div>
              <div class="box-footer text-center">
                <%= link_to 'More Info', pages_basic_path, class: 'btn' %>
              </div>
            </div>
          </div>
          <div class="column col-4 col-md-6 col-sm-12 col-mx-auto mb-4">
            <div class="box">
              <div class="box-header">
                <h4 class="title h4 text-center">
                  A Fancy Website. 
                </h4>
                <p class="subtitle text-center">
                  Everything found in <em>A Website</em>, except this one lets you log in and edit (as well as add pages) to the site yourself. Also includes a blog!
                </p>
                <p class="subtitle text-center">
                  It's a better option for bigger businesses or businesses focusing heavily on online marketing.
                </p>
                <h5 class="h4 text-center price">
                  $2300 <br><span class="gst">(+GST)</span>
                </h5>
              </div>

              <div class="box-body">
                
                
              </div>
              <div class="box-footer text-center">
                <%= link_to 'More Info', pages_fancy_path, class: 'btn' %>
              </div>
            </div>
          </div>
          <div class="column col-4 col-md-6 col-sm-12 col-mx-auto mb-4">
            <div class="box">
              <div class="box-header">
                <h4 class="title h4 text-center">
                  A Custom WebApp.
                </h4>
                <p class="subtitle text-center">
                  Anything from E-Commerce to a custom client task tracker specific for your business - if you custom software built, we can build it.
                </p>
                <p class="subtitle text-center">
                  It's more for businesses with specific use-case scenerios - like selling online.
                </p>
                <h5 class="h4 text-center price">
                  $3500+ <br><span class="gst">(+GST)</span>
                </h5>
              </div>
              <div class="box-body">
                
                
              </div>
              <div class="box-footer text-center">
                <%= link_to 'More Info', pages_custom_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="in-all">
  <div class="section">
    <div class="columns">
      <div class="column col-10 col-md-12 col-mx-auto">
        <h2 class="h2 title text-center">Every NoBull Website Includes</h2>
        <div class="columns mt-8">
          <div class="column col-4 col-md-6 col-sm-12">
            <h4 class="h5 text-center">Clean Code</h4>
            <div class="divider"></div>
            <ul class="included-in-all">
              <li>Custom Built</li>
              <li>No Templates/Purchased Themes</li>
              <li>Hand Coded in HTML5/CSS3/JS&ES6</li>
              <li>Responsive/Mobile Friendly</li>
            </ul>
          </div>
          <div class="column col-4 col-md-6 col-sm-12">
            <h4 class="h5 text-center">Optimized for Google</h4>
            <div class="divider"></div>
            <ul class="included-in-all">
              <li>Highly Compressed</li>
              <li>Optimized for Speed</li>
              <li>SEO Tags Included Throughout</li>
              <li>Meta-Data Optimised & Integrated</li>
              <li>Cross-Web integrations</li>
            </ul>
          </div>
          <div class="column col-4 col-md-6 col-sm-12">
            <h4 class="h5 text-center">Great Site & Service</h4>
            <div class="divider"></div>
            <ul class="included-in-all">
              <li>Modern Design</li>
              <li>Limited to Zero Maintenance</li>
              <li>Cross-Web Cleanup</li>
              <li>Free Setup & Installation</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="add-ons">
  <div class="section">
    <div class="columns ">
      <div class="column col-10 col-md-12 col-mx-auto">
        <h2 class="h2 title text-center">Available Add-ons</h2>
        <div class="columns is-stretch mt-8">
          <div class="column col-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
              <div class="box-header">
                <div class="addon-image">
                  <%= image_tag 'plus.svg', class: 'img-responsive' %>
                </div>
                <h4 class="h5 text-center">Extra Page</h4>
                <p class="text-center"><span class="extra-price">$150</span>/page</p>
              </div>
              <div class="box-body">
                <p class="text-center">If you need more than the <em>Three Pages</em> included with <strong>A Website</strong> or more than the <em>Five Pages</em> that come with <strong>A Fancy Website</strong>, then this is the option for you.  </p>
              </div>
            </div>
          </div>
          <div class="column col-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
              <div class="box-header">
                <div class="addon-image">
                  <%= image_tag 'hosting.svg', class: 'img-responsive' %>
                </div>
                <h4 class="h5 text-center">Hosting</h4>
                <p class="text-center mb-0"><span class="extra-price">$15</span>/month - managed</p>
                <p class="text-center mb-0">- Or -</p>
                <p class="text-center mb-0"><span class="extra-price">$4</span>/month - unmanaged</p>
              </div>
              <div class="box-body">
                <p class="text-center">
                  You're going to need to host your website somewhere. The where is up to you, but due to past clients asking, we now offer web hosting. Managed includes ~1hr/month of site changes.
                </p>
              </div>
            </div>

          </div>
          <div class="column col-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
              <div class="box-header">
                <div class="addon-image">
                  <%= image_tag 'graphic-design.svg', class: 'img-responsive' %>
                </div>
                <h4 class="h5 text-center">Logo Redesign/Digitization</h4>
                <p class="text-center mb-0"><span class="extra-price">$100</p>
              </div>
              <div class="box-body">
                <p class="text-center">
                  If you don't have a digital copy of your logo, or don't have a logo, we can help you out and either make something out of what you have (a business card, sign, etc.) or from scratch.
                </p>
              </div>
            </div>

          </div>
          <div class="column col-4 col-md-6 col-sm-12 mb-4">
            <div class="box">
              <div class="box-header">
                <div class="addon-image">
                  <%= image_tag 'advertising.svg', class: 'img-responsive' %>
                </div>
                <h4 class="h5 text-center">Digital Advertising Campaign</h4>
                <p class="text-center mb-0"><span class="extra-price">10%</span> <br> of ad spend (or min $80) </p>
              </div>
              <div class="box-body">
                <p class="text-center">
                  We'll help set you up with and mangage a digital advertising campaign on either Facebook Advertising, Google Adwords or Twitter Advertising.
                </p>
              </div>
            </div>

          </div>
          <div class="column col-8 col-md-12 mb-4">
            <div class="box">
            <div class="columns is-full-height is-flex-v-centered">
              <div class="box-header column col-4 col-sm-12 mb-4" id="hourly-header">
                  <div class="addon-image">
                    <%= image_tag 'hourly-work.svg', class: 'img-responsive' %>
                  </div>
                  <br>
                  <h4 class="h5 text-center">Hourly Work</h4>
                  <p class="text-center mb-0"><span class="extra-price">$65/hr</p>
              </div>
              <div class="box-body column col-8 col-sm-12 ">
                <p>
                  We need to eat, and our landlord has hinted that we should keep paying rent 😸. Which means, if you want extra work done outside the scope of what the project includes, we're going to have to bill you. We charge by the quarter hour and track all hours digitally, so everyone can have a copy of the log! 
                  
                </p>
              </div>
            
            </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cta">
  <div class="container">
    <div class="columns">
      <div class="column col-8 col-sm-10 col-mx-auto">
        <h2 class="h1 text-light text-center"> Sound good to you?</h2>
        <h3 class="h5 text-light text-center mb-10">
         If our prices seem fair, and we've got something you want, why not
        </h3>
        <h4 class=" h6 text-light text-center text-capitalize">Request a Website:</h4>
        <div class="text-center">
          <%= link_to 'Request Now', new_user_registration_path, class: 'btn btn-light btn-lg px-4' %>
        </div>
        <h6 class="h6 text-light text-center my-6">- OR - </h6>
        <h4 class=" h6 text-light text-center text-capitalize">Speak to a real human:</h4>
      </div>
      <div class="column col-5 col-lg-8 col-md-10 col-sm-12 col-mx-auto">
        <div class="box">
          <div class="box-body">
            <h5 class="h5 is-flex-centered">Email Us:</h5>
            <div class="input-group is-flex-centered hide-sm" data-controller="clipboard" >
              <a href="mailto:rich@nobullco.com" class="btn btn-primary input-group-btn">Email Now</a>
              <input class="form-input text-center" data-target="clipboard.source" type="text" value="contact@nobullco.com" readonly>
              <button class="btn input-group-btn" data-action="clipboard#copy">Copy To Clipboard</button>
            </div>
            <div class="form-group is-flex-centered show-sm" data-controller="clipboard" >
              <input class="form-input text-center" data-target="clipboard.source" type="text" value="contact@nobullco.com" readonly>
              <div class="input-group is-flex-centered mt-1">
              <a href="mailto:rich@nobullco.com" class="btn btn-primary input-group-btn">Email Now</a>
              <button class="btn input-group-btn" data-action="clipboard#copy">Copy To Clipboard</button>
              </div>
            </div>
            <h6 class="h6 text-center my-4">- Or -</h6>
            <h5 class="h5 is-flex-centered">Give us a Call:</h5>
            <div class="input-group is-flex-centered hide-sm" data-controller="clipboard" >
              <a href="tel:2508336512" class="btn btn-primary input-group-btn">Call Now</a>
              <input  class="form-input text-center" data-target="clipboard.source" type="text" value="+1-250-833-6512" readonly>
              <button class="btn input-group-btn" data-action="clipboard#copy">Copy to Clipboard</button>
            </div>
            <div class="form-group is-flex-centered show-sm" data-controller="clipboard" >
              <input class="form-input text-center" data-target="clipboard.source" type="text" value="+1-250-833-6512" readonly>
              <div class="input-group is-flex-centered mt-1">
              <a href="tel:2508336512" class="btn btn-primary input-group-btn">Call Now</a>
              <button class="btn input-group-btn" data-action="clipboard#copy">Copy To Clipboard</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
