<p id="notice"><%= notice %></p>

<h1>Integrations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Facebook page link</th>
      <th>Update facebook profile</th>
      <th>Goolge business link</th>
      <th>Update google business</th>
      <th>Twitter profile link</th>
      <th>Update twitter profile</th>
      <th>Twitter username</th>
      <th>Twitter password</th>
      <th>Linkedin page link</th>
      <th>Update linkedin page</th>
      <th>Yelp page link</th>
      <th>Update yelp page</th>
      <th>Yelp email address</th>
      <th>Yelp password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @integrations.each do |integration| %>
      <tr>
        <td><%= integration.user %></td>
        <td><%= integration.facebook_page_link %></td>
        <td><%= integration.update_facebook_profile %></td>
        <td><%= integration.goolge_business_link %></td>
        <td><%= integration.update_google_business %></td>
        <td><%= integration.twitter_profile_link %></td>
        <td><%= integration.update_twitter_profile %></td>
        <td><%= integration.twitter_username %></td>
        <td><%= integration.twitter_password %></td>
        <td><%= integration.linkedin_page_link %></td>
        <td><%= integration.update_linkedin_page %></td>
        <td><%= integration.yelp_page_link %></td>
        <td><%= integration.update_yelp_page %></td>
        <td><%= integration.yelp_email_address %></td>
        <td><%= integration.yelp_password %></td>
        <td><%= link_to 'Show', integration %></td>
        <td><%= link_to 'Edit', edit_integration_path(integration) %></td>
        <td><%= link_to 'Destroy', integration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Integration', new_integration_path %>
