<p id="notice"><%= notice %></p>

<h1>About Contents</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Founder</th>
      <th>Founded</th>
      <th>About us</th>
      <th>Background story</th>
      <th>Team</th>
      <th>Message from founder</th>
      <th>Other info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @about_contents.each do |about_content| %>
      <tr>
        <td><%= about_content.user %></td>
        <td><%= about_content.founder %></td>
        <td><%= about_content.founded %></td>
        <td><%= about_content.about_us %></td>
        <td><%= about_content.background_story %></td>
        <td><%= about_content.team %></td>
        <td><%= about_content.message_from_founder %></td>
        <td><%= about_content.other_info %></td>
        <td><%= link_to 'Show', about_content %></td>
        <td><%= link_to 'Edit', edit_about_content_path(about_content) %></td>
        <td><%= link_to 'Destroy', about_content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New About Content', new_about_content_path %>
