<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', "https://js.stripe.com/v3/", 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true  %>
    <%= tag :meta, name: :psjs, data: {action: action_name, controller: controller_name} %>
    <%= yield(:head) -%>
  </head>

  <body class="<%= controller_name %> <%= action_name %> application_layout" data-controller="slide-menu">
    <header class="navbar is-fixed">
      <%= render 'layouts/navigation/navbar/navbar' %>
    </header> 
    <div class="has-slide-menu is-fixed-slide-menu-sidebar has-responsive-slide-menu">
      <aside class="slide-menu-sidebar sidebar-nav" data-target="slide-menu.sidebar">
        <%= render 'layouts/navigation/sidebar/sidebar' %>
      </aside> 
      <a data-action="slide-menu#toggleSidebar" class="slide-menu-overlay"></a>
      <div class="slide-menu-content">
        <main class="column col-8 col-md-12 col-mx-auto">
          <div class="container box">
            <%= yield %>
          </div>
        </main>
        <footer class="appliction-layout-footer">
          <%#= render 'layouts/shared/footer' %>
        </footer>
      </div>
    </div>
  </body>
</html>
