<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', "https://js.stripe.com/v3/", 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true  %>
    <%= tag :meta, name: :psjs, data: {action: action_name, controller: controller_name} %>
    <%= yield(:head) -%>
  </head>

  <body class="<%= controller_name %> <%= action_name %> application_layout" data-controller="slide-menu">
    <header class="navbar is-fixed">
      <%= render 'layouts/navigation/navbar/navbar' %>
    </header> 
    <main>
      <%#= render 'layouts/shared/alerts' %>
      <%= yield %>
    </main>
    <footer class="pages-layout-footer">
      <%#= render 'layouts/shared/footer' %>
    </footer>
  </body>
</html>
